*{
    margin:0;
    padding:0;
}

html,body{
    width: 100vw;
    height: 100vh;
background: rgb(195, 160, 236);
}

.mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containerForm{
    height: 60vh;
    width: 60vw;
}
#userGetForm{
    background: rgb(195,160,236);
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.getUserValues{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.inputs{
    width: 100%;
    border-radius: 20px;
}
.inputs:hover{
    transition: 2000ms;
    background: rgb(150,150,150);
}
#submitForm{
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(195,160,236);
    color:rgb(255,255,255);
    border: 3px solid #fff;
    padding: 5px;
}
#submitForm:hover{
    transition: 1000ms;
    color:rgb(0,0,0);
    background-color: rgb(255,255,255);
}
label{
    color:rgb(255,255,255);
}
.header, .footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
}